# API Backend (Render - producción real)
NEXT_PUBLIC_API_URL=https://artelier-api-djt4.onrender.com

# Cloudinary
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=dqkya2a0f

# Wompi (clave pública, segura para frontend)
NEXT_PUBLIC_WOMPI_PUBLIC_KEY=pub_prod_fCHG1eRRhS5y9FSWiQ52xIFUdxZ5KwbY
